
body
{
  font-family: 'Lexend Deca', sans-serif !important;
}
.login-bg
{
  background: url(../img/login.jpg) no-repeat;
  background-size: 100% auto;
  height: 100vh;
}
.login-header
{
  width: 100%;
  height: auto;
  padding: 10px 0 40px;
}
.login-logo
{
  width: 100%;
  height: auto;
}
.login-logo img
{
  max-width: 100%;
  height: auto;
}
.login-right
{
   width:auto;
   height: auto;
   float: right;
   padding: 30px 0 0 0 ;
}

.login-right ul
{
  padding: 0px;
  margin: 0px;
}
.login-right ul li
{
  width: auto;
  float: left;
  list-style: none;
  margin: 0 0 0 10px;
}
.login-right ul li a
{
  text-decoration: none;
  color:#000000;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 5px;
}
.login-right ul li.active a
{
  background: #673695;
  color:#fff;
}
.login-right ul li a:hover
{
  color:#673695;
}
.login-right ul li.active a:hover
{
  color:#ccc;
}
.lgn-sbmt
{
  width: 100%;
  height: auto;
}
.lgn-sbmt input
{
  width: 100%;
  height: auto;
  background: #673695;
  color:#fff;
  border:1px solid #fff;
  padding: 12px 0;
  font-size: 16px;
  font-weight: 300;
  border-radius: 7px;
}
.lgn-sbmt input:hover
{
  background: #000;
  color:#fff;
  border:1px solid #fff;
}
.lgn
{
  width: 100%;
  height: 45px;
  border-radius: 7px;
  border:1px solid rgba(0,0,0,0.2);
  margin: 0 0 20px 0;
}
.lgn .btn 
{
  display: block;
  outline: none;
  width: 100%;
  height: 45px;
  text-align: left;
}
.lgn .btn.focus, .lgn .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(78,115,223,.0);
}


.lgn .caret
{
    text-align: right;
}
.lgn .dropdown-toggle::after
{
  float: right;
  margin: 10px 0 0 0;
}
.lgn .dropdown-menu.show {
  padding: 10px;
  cursor: pointer;
}
.lgn-left
{
  width: 18%;
  height: 36px;
  border: none;
  float: left;
  margin: 4px 0 0 1%;
  border-right: 1px solid #673695;
}
.lgn-left input
{
  border:none;
  height: 96%;
  width: 100%;
  text-align: center;
  outline: none;

}
.lgn-right
{
  width: 80%;
  height: 45px;
  border: none;
  float: left;
}
.lgn-right input
{
  border:none;
  height: 96%;
  width: 100%;
  outline: none;
  padding: 0 0 0 13px;
}
.login-page
{
  border-radius: 20px !important;
}
.lgn-dec p
{
  font-size: 15px;
  font-weight: 300;
  color:#747171;
}

#wrapper #content-wrapper {
  background-color: #fff;
}
.sidebar
{
  background: #F5F5F5;
}
.sidebar .sidebar-brand {
  height: auto;
  padding: 5px 1rem;
}
.sidebar .nav-item .nav-link span {
  font-size: 16px;
  color: #747171;
  position: relative;
}
.sidebar .nav-item .nav-link {
  padding: 10px 15px;
  width: 14rem;
}
.sidebar .nav-item.active
{
  background: #673695;
  border-radius: 20px 0 0 20px;
  position: relative;
}
.sidebar .nav-item.active .nav-link span {
  color: #fff;
  font-weight: 400;
}
.sidebar .nav-item.active .nav-link span:hover {
  color: #ccc;
}
.sidebar .nav-item.active:before
{
  content: "";
  position:absolute;
  width: 29px;
  height: 29px;
  background: url(../img/m-top.png) no-repeat;
  background-size: 100% 100%;
  top: -29px;
  right: 0px
}
.sidebar .nav-item.active:after
{
  content: "";
  position:absolute;
  width: 29px;
  height: 29px;
  background: url(../img/m-btm.png) no-repeat;
  background-size: 100% 100%;
  bottom: -29px;
  right: 0px;
}
.sidebar-dark .nav-item .nav-link[data-toggle="collapse"]::after {
  color: #000;
}
.sidebar .sidebar-card {
  background-color: transparent;
}
.sidebar .nav-item img
{
  background:#f5f5f5;
  padding: 4px;
  border-radius: 50%;
  max-width: 29px;
}
.sidebar .nav-item.active img
{
  background:#fff;
  padding: 4px;
  border-radius: 50%;
  max-width: 29px;
}
.sidebar .nav-item .nav-link span:hover
{
  color:#673695;
}
.pro-fl
{
  width: 100%;
  height: auto;
  margin:12px 0 20px 0;
  display: flex;
  padding: 0 15px;
}
.pro-name
{
  padding: 7px 0 0 12px;
}
.pro-name h5
{
  margin: 0 0 2px 0;
  font-size: 16px;
  color:#000000;
}
.pro-name h6
{
  margin: 0 0 0px 0;
  font-size: 12px;
  color:#747171;
}
.sidebar .sidebar-card p
{
  color:#000000;
  font-size: 16px;
  font-weight: 500;
}
.crl
{
  background: #673695;
  width: 42px;
  height: 42px;
}
.crl:hover
{
  background: #000;
}
.top-crl
{
  width: 42px;
  height: 42px;
  border:1px solid #ccc !important;
  background: #fff;
}
.topbar {
  border-bottom: 1px solid #ccc;
}
.icn
{
  width: 42px !important;
  height: 42px !important;
  border:1px solid #ccc !important;
  background: #fff !important;
  border-radius: 50%;
  padding: 0 7px !important;
  margin: 13px 8px 0 0;
}
.sidebar-brand img
{
  max-width: 100%;
}
.sidebar-toggled .pro-fl {
  display: block;
  text-align: center;
}
.sidebar-toggled .pro-name {
  padding: 7px 0 0 0;
}
.bg-1
{
  background: #EA6035;
  color:#fff;
}
.bg-2
{
  background:rgba(234,96,53,0.8);
  color:#fff;
}
.bg-3
{
   background:#0894E2;
  color:#fff;
}
.bg-4
{
  background:#E20830;
  color:#fff;
}
.h-crd h5
{
  font-size: 16px;
  color:#FAFBFF;
}
.h-crd h4
{
  font-size: 24px;
  color:#FAFBFF;
  font-weight: 600;
}
.bg-2 .crd-pic
{
  background:#EA6035;
  width: 45px;
  height: 45px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 5px;
}
.bg-3 .crd-pic
{
  background:#0282CA;
  width: 45px;
  height: 45px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 5px;
}
.bg-4 .crd-pic
{
  background:#C10527;
  width: 45px;
  height: 45px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 5px;
}
.rg-full
{
  width: 100%;
  height: auto;
  margin:0 0 30px 0;
}
.rg-heading
{
  width: 100%;
  height: auto;
  background: #DB7D10;
  padding: 10px 20px;
  font-weight:500;
  font-size: 16px;
  color:#fff;
  border-radius: 30px;
  margin: 0 0 10px 0;
}
.rg-1
{
  border-left:1px solid rgba(116,113,113,0.2);
}
.rg-body
{
  width: 100%;
  height: auto;
  padding: 0 10px;
  max-height: 500px;
  overflow-y: auto;
}
.rg-body ul
{
  padding: 0px;
  margin: 0px;
}
.rg-body ul li
{
   width: 100%;
    height: auto;
    list-style: none;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}
.rg-body ul li p
{
  margin: 0px;
  color:#747171;
  font-size: 14px;
}
.rg-body ul li h6
{
  margin: 0px 0 3px;
  color:#382628;
  font-size: 12px;
}
.rg-body ul li h5
{
  margin: 0px 0 7px 0;
  color:#000000;
  font-size: 16px;
}
.rg-body ul li h5 span
{
  margin: 0px 0 0 5px;
  color:#382628;
  font-size: 12px;
}
.card {
  border: 1px solid #fff;
  border-radius: 15px;
}
.rg-heading-1
{
  width: 100%;
  height: auto;
  background: #FA3D5F;
  padding: 10px 20px;
  font-weight:500;
  font-size: 16px;
  color:#fff;
  border-radius: 30px;
  margin: 0 0 10px 0;
}

.rg-body-1
{
  width: 100%;
  height: auto;
  padding: 0 10px;
  max-height: 500px;
  overflow-y: auto;
}
.rg-body-1 ul
{
  padding: 0px;
  margin: 0px;
}
.rg-body-1 ul li
{
   width: 100%;
    height: auto;
    list-style: none;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}
.rg-body-1 ul li p
{
  margin: 0px;
  color:#747171;
  font-size: 14px;
}
.rg-body-1 ul li h5
{
  margin: 0px 0 7px 0;
  color:#000000;
  font-size: 16px;
}
.rb-full
{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.rb-2
{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #e3e3e3;
  text-align: center;
  padding: 4px 0 0 0;
  cursor: pointer;
}
footer.sticky-footer
{
  background: #000000;
  padding: 15px 10px;
  border-radius: 10px 10px 0 0;
  color:#fff;
}
.dash-calender
{
  width: 100%;
  height: auto;
}
.dash-calender table
{
  width: 100%;
  height: auto;
}
.dash-calender table th
{
  border-right: 1px solid rgba(116,113,113,0.3);
  text-align: center;
  padding: 15px 10px;
  color:#000000;
  font-size: 16px;
  font-weight: 500;

}
.dash-calender table th:last-child
{
   border-right: 0px solid rgba(116,113,113,0.3);
}
.dash-calender table td
{
  border-right: 1px solid rgba(116,113,113,0.3);
  text-align: center;
   padding: 15px 10px;
   color:#000000;
  font-size: 14px;
}
.dash-calender table td:last-child
{
   border-right: 0px solid rgba(116,113,113,0.3);
}
.dash-calender table tr
{
  border-bottom: 1px solid rgba(116,113,113,0.3);
  text-align: center;
   padding: 10px 10px;
}
.dash-calender table tr:last-child
{
  border-bottom: 0px solid rgba(116,113,113,0.3);
}
.dash-calender table thead
{
  border-bottom: 1px solid rgba(116,113,113,0.3);
}
.next-month
{
  color:#747171;
}
.tbl-heading
{
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
   justify-content: space-between;
   padding: 20px 0;
}
.t-center
{
  font-size: 20px;
  color:#000;
  font-weight: 500;
}
.sm-heading
{
   font-size: 16px;
  color:#000;
  font-weight: 500;
}
.lg-heading
{
   font-size:24px;
  color:#000;
  font-weight: 500;
}
.top-dec
{
  padding: 2px 0 0 15px;
}
.top-dec h4
{
  color:#000000;
  font-size: 22px;
  font-weight: 400;
  margin: 0 0 0 0;
}
.top-dec p
{
  color:#747171;
  font-size: 12px;
  font-weight: 400;
  margin: 0 0 0 0;
}
.timetable-calender
{
  width: 100%;
  height: auto;
}
.timetable-calender table
{
  width: 100%;
  height: auto;
}
.timetable-calender table th,.timetable-calender table td
{
  height: 70px;
  text-align: center;
  border-right: 1px solid rgba(116,113,113,0.3);
  color:#747171;
  font-size: 16px;
  font-weight: 400;
}
.timetable-calender table th
{
  color:#000000;
}
.timetable-calender table td:last-child,.timetable-calender table th:last-child{
   border-right: 0px solid rgba(116,113,113,0.3);
}
.timetable-calender table tr
{
  border-bottom: 1px solid rgba(116,113,113,0.3);
}
.timetable-calender table td:last-child
{
   border-right: 0px solid rgba(116,113,113,0.3);
}
.timetable-calender table td:first-child,.timetable-calender table th:first-child{
   background: #E9EAF4;
   color:#000000;
   font-size: 16px;
   font-weight: 500;
   text-align: left;
   padding: 0 0 0 20px;
}
.caln
{
  width: 180px;
  height: 45px;
  border:1px solid rgba(116,113,113,0.3);
  border-radius: 30px;
  position: relative;
  padding: 7px 10px;
}
.caln input
{
  border:none;
  outline: none;
  height: auto;
  width: 100%;
  background: transparent;
}
.caln-icon
{
  position: absolute;
  right: 10px;
  top: 7px;
  cursor: pointer;
}
.drop-side-menu ul
{
  padding: 0px;
}
.drop-side-menu ul li
{
  list-style: none;
}
.drop-side-menu 
{
  margin: 0 0 !important;
}
.date-cont
{
  width: auto;
  height: auto;
}
.date-cont a
{
  border:1px solid rgba(116,113,113,0.3);
  background: #fff;
  color:#000000;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 0 0 5px;
}
.date-cont a.active
{
  background: #673695;
  color:#fff;
  border:1px solid #fff;
}
.date-cont a:hover
{
  background: #673695;
  color:#fff;
  border:1px solid #fff;
}
.tbl-heading.attn-tbl
{
  background: rgba(116,113,113,0.2);
  padding: 10px;
  margin: 30px 0 7px 0;
  border-radius: 5px;
}
.attend-calender td
{
  height: 70px;
}
.attn
{
  background: #AA3D9F;
  font-size: 10px;
  color:#fff;
  padding: 4px 10px;
  border-radius: 20px;
  letter-spacing: .5px;
}
.holy
{
  background: #FBB626;
  font-size: 10px;
  color:#fff;
  padding: 4px 10px;
  border-radius: 20px;
  letter-spacing: .5px;
}
.abtn
{
  background: #E20830;
  font-size: 10px;
  color:#fff;
  padding: 4px 10px;
  border-radius: 20px;
  letter-spacing: .5px;
}
.attn-details
{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
  gap:20px;
}
.ad-1
{
  width: 100%;
  height: auto;
  background: #AA3D9F;
  padding: 15px 20px;
  color:#fff;
  font-size: 16px;
  border-radius: 5px;
}
.ad-1 span
{
  float: right;
  font-size: 18px;
}
.ad-2
{
  width: 100%;
  height: auto;
  background: #E20830;
  padding: 15px 20px;
  color:#fff;
  font-size: 16px;
  border-radius: 5px;
}
.ad-2 span
{
  float: right;
  font-size: 18px;
}
.ad-3
{
  width: 100%;
  height: auto;
  background: #FBB626;
  padding: 15px 20px;
  color:#fff;
  font-size: 16px;
  border-radius: 5px;
}
.ad-3 span
{
  float: right;
  font-size: 18px;
}


.leave-body-left
{
  width: 100%;
  height: auto;
  padding: 0 0px 40px;
  max-height: 800px;
  overflow-y: auto;
  margin: 30px 0 0 0;
}
.leave-body-left ul
{
  padding: 0px;
  margin: 0px;
}
.leave-body-left ul li
{
    width: 100%;
    height: auto;
    list-style: none;
    padding:25px;
    background: #fafafa;
    margin: 0 0 20px 0;
}

.leave-body-left ul li h6
{
  margin: 0px 0 15px;
  color:#747171;
  font-size: 16px;
}
.leave-body-left ul li h5
{
  margin: 0px 0 10px 0;
  color:#000000;
  font-size: 20px;
  font-weight: 500;
}
.clnd-icon
{
  margin: 0px 4px 0 0;
}
.clnd-icon img
{
  margin: -4px 0 0 0;
}
.leave-body-left ul li p
{
  margin: 0px;
  color:#747171;
  font-size: 16px;
}
.status
{
  float: right;
  background: transparent;
  font-size: 15px;
  color:#fff;
  padding: 6px 20px;
  border-radius: 20px;
  letter-spacing: .5px;
  cursor: pointer;
}
.pending
{
  background:#FBB626;
}
.cancel
{
  background:#E20830;
}
.approve
{
  background:#AA3D9F;
}
.leave-body-left ul li:nth-child(5n-1)
{
  background: #E9EAF4;
}
.leave-body-left ul li:nth-child(5n-2)
{
  background: #CDF2E0;
}
.leave-body-left ul li:nth-child(5n-3)
{
  background: #FEB9A3;
}
.leave-body-left ul li:nth-child(5n-4)
{
  background: #FAEBC6;
}
.leave-form
{
  width: 100%;
  height: auto;
  margin: 30px 0 0 0;
}
.lf-frm
{
  width: 100%;
  height: auto;
  margin: 0 0 10px 0;
}
.lf-frm input[type=text]
{
   width: 100%;
   height: 45px;
   border:1px solid rgba(116,113,113,0.3);
   padding: 0 5px;
   border-width: 0 0 1px 0;
   outline: none;
}
.lf-frm textarea
{
   width: 100%;
   height: 140px;
   border:1px solid rgba(116,113,113,0.3);
   padding: 0 5px;
   border-width: 0 0 1px 0;
  outline: none;
}

.lf-frm input[type=submit]
{
   width: auto;
   height: 45px;
   border:1px solid rgba(116,113,113,0.3);
   padding: 0 20px;
   border-width: 0 0 1px 0;
   outline: none;
   background: #673695;
   color: #fff;
   font-size: 15px;
   font-weight: 400;
   border-radius: 8px;
}
.lf-frm input[type=submit]:hover
{
  background: #000;
}
.leave-overvw
{
  width: 100%;
  height: auto;
  margin: 40px 0 0 0;
}
.dropdown-item
{
  padding: .25rem 10px;
}
.leave-overvw ul
{
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
}
.leave-overvw ul li
{
  width: 48%;
  height: auto;
  float: left;
  background: #0894E2;
  padding: 20px;
  list-style: none;
  margin: 5px 5px 15px 0;
}
.leave-overvw ul li:nth-child(even)
{
  background: #E20830;
}
.l-over-icon
{
  width: 40px;
  height: 40px;
  background: rgba(0,0,0,0.3);
  border-radius: 50%;
  padding: 7px 0 0;
  text-align: center;
  float: right;
}
.l-over-dec
{
   width: 100%;
   height: auto;
   overflow: hidden;
   margin: 0 0px 0 0;
}
.l-over-dec p
{
  color:#fff;
  font-size: 16px;
  font-weight:300;
  margin: 15px 0 2px 0;
}
.l-over-dec h4
{
  color:#fff;
  font-size: 32px;
  font-weight:600;
  margin: 0px 0 0px 0;
}
.l-over-dec h4 span
{
  font-size: 12px;
  font-weight:300;
}
.ved-btns
{
  width: 100%;
  height: auto;
  margin: 30px 0 30px 0;
  float: left;
}
.ved-btns ul
{
  padding: 0px;
  margin: 0px;
}
.ved-btns ul li
{
  list-style: none;
  width: auto;
  float: left;
  margin: 0 10px 10px 0;
}
.ved-btns ul li a
{
  background: rgba(0,0,0,0.1);
  padding: 10px 15px;
  color:#000;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 5px;
}
.ved-btns ul li a:hover
{
   background:#673695;
   color:#fff;
}
.ved-btns ul li.active a
{
   background:#673695;
   color:#fff;
}
.ved
{
  width: 100%;
  height: auto;
  margin:30px 0 20px 0;
  overflow: hidden;
}
.ved iframe
{
  width: 100%;
  height: 450px;
  border:1px solid #ccc;
}
.ved-details
{
  width: 100%;
  height: auto;
  overflow: hidden;
}
.ved-details h4
{
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 15px 0;
}
.ved-details ul
{
  padding: 0px;
  margin: 0px;
}
.ved-details ul li
{
  list-style: none;
  width: auto;
  float: left;
  margin: 0 15px 10px 0;
  color: #747171;
  font-size: 14px;
}
.ved-details ul li img
{
  margin: -2px 5px 0 0;
}
.ved-right
{
  width: 100%;
  height: auto;
  margin:30px 0 20px 0;
  max-height: 900px;
  overflow-y: auto;
}
.ved-right ul
{
  padding: 0px;
  margin: 0px;
}
.ved-right ul li
{
  list-style: none;
  width: 100%;
  float: left;
  margin: 0 0 10px 0;
  border-bottom:1px solid rgba(116,113,113,0.2);
  padding: 5px 0 15px 0;
}
.ved-right-pic
{
  width: 75px;
  height: auto;
  float: left;
  margin: 0 10px 0 0;
  overflow: hidden;
}
.ved-right-pic img
{
  max-width: 100%;
  border-radius: 5px;
}
.ved-right-dec
{
  width: 70%;
  height: auto;
  float: left;
}
.ved-right-dec h4
{
  font-size: 16px;
  color: #000;
  font-weight: 500;
  margin: 0 0 5px 0;
}
.ved-right-dec h5
{
  font-size: 14px;
  color: #000;
  font-weight:400;
  margin: 0 0 4px 0;
}
.ved-right-dec p
{
  font-size: 12px;
  color: #747171;
  font-weight:400;
  margin: 0 0 0 0;
}
.ved-right-play
{
  width: 32px;
  height: auto;
  float: right;
}
.ved-right-play img
{
  max-width: 100%;
}

.online-top-heading
{
  width: 100%;
  height: auto;
  margin:30px 0 20px 0;
  overflow: hidden;
}
.online-top-heading ul
{
  padding: 0px;
  margin: 0px;
}
.online-top-heading ul li
{
  list-style: none;;
  float: left;
  color:#000;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.online-top-heading ul li:nth-child(1)
{
  width: 50%;
}
.online-top-heading ul li:nth-child(2)
{
  width: 20%;
  text-align: center;
}
.online-top-heading ul li:nth-child(3)
{
  width: 25%;
  text-align: center;
}
.online-top-heading ul li:nth-child(1):after
{
  content: "";
  width: 100%;
  height: 1px;
  background:rgba(116,113,113,0.2);
  position: absolute;
  top: 12px;
  left: 70px;
}
.online-top-heading ul li:nth-child(2):after
{
  content: "";
  width: 81%;
  height: 1px;
  background: rgba(116,113,113,0.2);
  position: absolute;
  top: 12px;
  left: 65%;
}
.online-top-heading ul li:nth-child(3):after
{
  content: "";
  width: 57%;
  height: 1px;
  background: rgba(116,113,113,0.2);
  position: absolute;
  top: 12px;
  left: 62%;
}



.online-test
{
  width: 100%;
  height: auto;
  margin:10px 0 20px 0;
  overflow: hidden;
}
.online-test ul
{
  padding: 0px;
  margin: 0px;
}
.online-test ul li
{
  list-style: none;
  width: 100%;
  float: left;
  margin: 0 0 15px 0;
  padding:20px 30px;
  background: #FAEBC6;
  border-radius: 10px;
}
.online-test ul li:nth-of-type(n+0) 
{
  background: #FAEBC6;
}
.online-test ul li:nth-of-type(2n+0) 
{
  background: #FEB9A3;
}
.online-test ul li:nth-of-type(3n+0) 
{
  background: #CDF2E0;
}
.online-test ul li:nth-of-type(4n+0) 
{
  background: #E9EAF4;
}
.online-test ul li:nth-of-type(5n+0) 
{
  background: #FAEBC6;
}
.online-test ul li:nth-of-type(6n+0) 
{
  background: #FEB9A3;
}
.online-test ul li:nth-of-type(7n+0) 
{
  background: #CDF2E0;
}
.online-test ul li:nth-of-type(8n+0) 
{
  background: #E9EAF4;
}


.on-pic
{
  width: 10%;
  height: auto;
  float: left;
}
.on-dec
{
  width: 40%;
  height: auto;
  float: left;
  padding: 9px 0 0 0;
}
.on-paper
{
  width: 20%;
  height: auto;
  float: left;
  text-align: center;
  color:#000000;
  font-size: 16px;
  font-weight: 400;
  padding: 15px 0 0 0;
}
.on-exam
{
  width: 30%;
  height: auto;
  float: left;
  text-align: center;
  padding: 19px 0 0 0;
}
.on-exam a
{
  background:#673695;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  border-radius: 5px;
  letter-spacing: 1px;
}
.on-exam a:hover
{
  background:#000;
}
.on-dec h5
{
  color:#000000;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 0 0;
}
.on-dec p
{
  color:#747171;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}
.ln-hdng-date
{
  width: 100%;
  height: auto;
  position: relative;
  margin: 0 0 15px 0;
}
.ln-hdng-date h4
{
  color: #000;
  font-size: 18px;
  font-weight: 600;
}
.ln-hdng-date:after
{
  content: "";
  width: 77%;
  height: 1px;
  background: rgba(116,113,113,0.2);
  position: absolute;
  top: 12px;
  left: 23%;
}
.margin-top-40
{
  margin-top:40px; 
}
.assign-right
{
  width: 100%;
  height: auto;
  position: relative;
  margin: 30px 0 0 0;
  background: url(../img/line.png) no-repeat;
  background-size: 78% 2px;
  overflow: hidden;
  background-position: 53% 21px;
}
.assign-right ul
{
  padding: 0px;
  margin: 0px;
}
.assign-right ul li
{
  width: 25%;
  height: auto;
  float: left;
  list-style: none;
  text-align: center;
}
.as-pic
{
  width: 100%;
  height: auto;
  margin: 0 0 13px 0;
}
.as-pic img
{
  max-width: 46px;
}
.as-dec
{
  width: 100%;
  height: auto;
  
}
.as-dec p
{
  font-size: 12px;
  color:#747171;
  margin: 0 0 5px 0;
}
.as-dec h5
{
  font-size: 16px;
  color:#000;
  margin: 0 0 0px 0;
  font-weight: 500;
}

.upload-pic
{
  width: 100%;
  height: auto;
  text-align: center;
  margin: 50px 0 0 0;
  position: relative;
   cursor: pointer;
}
.upload-pic img
{
  max-width: 90%;
}
.upload-pic input
{

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;

}




.exam-heading
{
  width: 100%;
  height: auto;
  margin:30px 0 20px 0;
  overflow: hidden;
}
.exam-heading ul
{
  padding: 0px;
  margin: 0px;
}
.exam-heading ul li
{
  list-style: none;;
  float: left;
  color:#000;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.exam-heading ul li:nth-child(1)
{
  width: 35%;
}
.exam-heading ul li:nth-child(2)
{
  width: 40%;
}
.exam-heading ul li:nth-child(3)
{
  width: 25%;
}
.exam-heading ul li:nth-child(1):after
{
  content: "";
  width: 76%;
  height: 1px;
  background: rgba(116,113,113,0.2);
  position: absolute;
  top: 12px;
  left: 82px;
}
.exam-heading ul li:nth-child(2):after
{
  content: "";
  width: 75%;
  height: 1px;
  background: rgba(116,113,113,0.2);
  position: absolute;
  top: 12px;
  left: 22%;
}
.exam-heading ul li:nth-child(3):after
{
  content: "";
  width: 68%;
  height: 1px;
  background: rgba(116,113,113,0.2);
  position: absolute;
  top: 12px;
  left: 26%;
}

.exam-profile-pic {
  width: 61px;
  height: 61px;
  float: left;
  border-radius: 50%;
  overflow: hidden;
}
.exam-profile-pic img
{
  max-width: 100%;
}
.exam-profile-dec
{
  width: 80%;
  height: auto;
  float: left;
  padding: 16px 0 0 17px;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 0 0;
}
.exam-profile-paper
{
  width: 43%;
  height: auto;
  float: left;
  text-align: left;
  color:#000000;
  font-size: 16px;
  font-weight: 400;
  padding: 19px 0 0 10px;
}
.exam-profile-exam
{
  width: 24%;
  height: auto;
  float: left;
  padding: 19px 0 0 6px;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}
.exam-left
{
  width: 33%;
  height: auto;
  float: left;
}

.holiday-name
{
  width: 45%;
  height: auto;
  float: left;
  padding: 0 0 0 0;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}
.holiday-date
{
  width: 50%;
  height: auto;
  float: left;
  padding: 0 0 0 0;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}
 .exam-heading.holiday-heading ul li:nth-child(1) {
  width: 45%;
}
.exam-heading.holiday-heading ul li:nth-child(2) {
  width: 54.5%;
}
.exam-heading.holiday-heading ul li:nth-child(2)::after {
  width: 91%;
  left: 51px;
}
.exam-heading.holiday-heading ul li:nth-child(1)::after {
  width: 84%;
  left: 63px;
}
.fees-lft
{
  width: 100%;
  height: auto;
  padding: 30px;
  background: #FAEBC6;
  border-radius: 20px;
  overflow: hidden;
}
.fees-l
{
  width: 60%;
  height: auto;
  float: left;
}
.fees-l h4
{
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 10px 0;
  color:#000;
}
.fees-l h5
{
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 20px 0;
  color:#747171;
}
.fees-l p
{
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 2px 0;
  color:#747171;
}
.fees-r
{
  width: 40%;
  height: auto;
  float: left;
  text-align: right;
}
.fees-r-btn
{
  width: 100%;
  height: auto;
  margin: 0 0 20px 0;
}
.fees-r-btn-1
{
  width: 100%;
  height: auto;
  margin: 50px 0 00px 0;
}
.fees-r-btn-1 a
{
   background: #673695;
   color:#fff;
   padding: 10px 20px;
   border-radius: 5px;
   text-decoration: none;
   font-size: 16px;
}
.fees-r-btn-1 a:hover
{
  background: #000;
}

.nt input
{
  width: 100%;
  height: 50px;
  background: #FAFBFF;
  padding: 5px 10px;
  border:1px solid rgba(116,113,113,0.2);
  border-radius: 5px;
  outline: none;
}
.nt
{
  width: 100%;
  height: auto;
  margin: 20px 0;
}

.sv-btn .switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
  float: right;
}

.sv-btn .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.sv-btn .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

 .sv-btn .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 3px;
  background-color:#AA3D9F;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 99;
}

.sv-btn input:checked + .slider {
  background-color: #fff;
}

.sv-btn input:focus + .slider {
  box-shadow: 0 0 1px #fff;
}

.sv-btn input:checked + .slider:before {
  -webkit-transform: translateX(33px);
  -ms-transform: translateX(33px);
  transform: translateX(33px);
}

/* Rounded sliders */
.sv-btn .slider.round {
  border-radius: 34px;
  border:1px solid rgba(116,113,113,0.2);
  box-shadow: 0 5px 6px rgba(0,0,0,0.2);
}

.sv-btn .slider.round:before {
  border-radius: 50%;
}
.nt h5
{
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  margin:7px 0 0 0;
}   
.ys
{
  color: #000;
  position: absolute;
  font-size: 14px;
  z-index: 99;
  top: 7px;
  left: 8px;

}
.sb-bt
{
  width: auto !important;
  background: #673695 !important;
  color: #fff;
  padding: 10px 20px !important;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
}
.sb-bt:hover
{
  background: #000 !important;
}
.sl-tag
{
  width: 100%;
  height: auto;
  margin: 20px 0;
  overflow: hidden;
}
.sl-tag ul
{
  padding: 0px;
  margin: 0px;
}
.sl-tag ul li
{
  border:1px solid rgba(116,113,113,0.2);
  height: 80px;
  width: 35%;
  list-style: none;
  float: left;
  background: #F4F4F4;
  margin: 0 10px 0 0;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color:#747171;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}
.sl-tag ul li:hover
{
  border:1px solid #673695;
}
.transaction
{
  width: 100%;
  height: auto;
  margin: 20px 0 0 0;
  border-bottom:1px solid rgba(116,113,113,0.2);
  padding: 0 0 7px 0;
}
.transaction h4
{
  width: 100%;
  height: auto;
  font-size: 16px;
  color:#382628;
}
.transaction h4 span
{
  float: right;
}
.track-map
{
  width: 100%;
  height: auto;
  margin: 20px 0 30px;
}
.track-map img 
{
  width: 100%;
  height: auto;
}
.track-details
{
  width: 100%;
  height: auto;
  position: relative;
}
.track-details h3
{
   font-size: 26px;
   color:#000000;
   font-weight: 500;
}
.track-details h4
{
   font-size: 20px;
   color:#101729;
   font-weight: 500;
}
.track-details p
{
   font-size: 16px;
   color:#747171;
   font-weight: 400;
   margin: 0 0 2px 0;
}
.trk-btn
{
  width: auto;
  position: absolute;
  right: 0;
  top: 20px;
}
.trk-btn a
{
  border: 1px solid rgba(116,113,113,0.3);
  padding: 10px 18px;
  background: #673695;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
  text-decoration: none;
}
.trk-btn a:hover
{
  background: #000;
}


.report-heading
{
  width: 100%;
  height: auto;
  margin:30px 0 20px 0;
  overflow: hidden;
}
.report-heading ul
{
  padding: 0px;
  margin: 0px;
}
.report-heading ul li
{
  list-style: none;;
  float: left;
  color:#000;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.report-heading ul li:nth-child(1)
{
  width: 40%;
}
.report-heading ul li:nth-child(2)
{
  width: 35%;
}
.report-heading ul li:nth-child(3)
{
  width: 25%;
}
.report-heading ul li:nth-child(1):after
{
  content: "";
  width: 67%;
  height: 1px;
  background: rgba(116,113,113,0.2);
  position: absolute;
  top: 12px;
  left: 68px;
}
.report-heading ul li:nth-child(2):after
{
  content: "";
  width: 53%;
  height: 1px;
  background: rgba(116,113,113,0.2);
  position: absolute;
  top: 12px;
  left: 92px;
}
.report-heading ul li:nth-child(3):after
{
  content: "";
  width: 68%;
  height: 1px;
  background: rgba(116,113,113,0.2);
  position: absolute;
  top: 12px;
  left: 26%;
}
.report-sub
{
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 10px 0;
  color:#000;
  width: 40%;
  float: left;
}
.report-fullmarks
{
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 10px 0;
  color:#000;
  width: 38%;
  float: left;
}
.report-marks
{
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 10px 0;
  color:#000;
  width: 20%;
  float: left;
}
.report-right
{
  width: 100%;
  height: auto;
  margin: 25px 0 0 0;
}
.report-right ul
{
  padding: 0px;
  margin: 0px;
}
.report-right ul li
{
  padding: 10px 10px;
  margin: 0px;
  width: 100%;
  height: auto;
  list-style: none;
  border-bottom: 1px solid rgba(116,113,113,0.2);
  font-size: 16px;
  color:#000;
  font-weight: 400;
}
.report-right ul li span
{
  float: right;
  font-size: 20px;
  font-weight: 500;
}
.subj
{
  width: 100%;
  height: auto;
}
.subj ul
{
  padding: 0px;
  margin: 0px;
}
.subj ul li
{
  padding: 15px 0;
  margin: 0px;
  width: 100%;
  height: auto;
  list-style: none;
  border-bottom: 1px solid rgba(116,113,113,0.2);
  overflow: hidden;
}
.subj-pic
{
  width: 55px;
  height: auto;
  float: left;
}
.subj-pic img
{
  max-width: 100%;
}
.subj-dec
{
  width: 56%;
  height: auto;
  float: left;
  padding: 0 0 0 15px;
}
.subj-dec h5
{
  color:#382628;
  font-size: 16px;
  margin: 0 0 5px 0;
}
.subj-dec p
{
  color:#747171;
  font-size: 14px;
  margin: 0 0 0px 0;
}
.subj-btn
{
  width: 31%;
  height: auto;
  float: right;
  padding: 7px 0 0 0;
  text-align: right;
}
.subj-btn a
{
  font-size: 14px;
  text-decoration: none;
  padding: 10px 12px;
  border-radius: 5px;
  background: #673695;
  color: #fff;
  border: 1px solid #fff;
}
.subj-btn a:hover
{
  background: #000;
}

.digital-left {
  width: 59%;
  height: auto;
  float: left;
}
.digital-pic {
  width: 61px;
  height: 61px;
  float: left;
  border-radius: 50%;
  overflow: hidden;
}
.digital-pic img {
  max-width: 100%;
}
.digital-dec {
  width: 80%;
  height: auto;
  float: left;
  padding: 16px 0 0 17px;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 0 0;
}
.digital-right {
  width: 30%;
  height: auto;
  float: left;
  text-align: left;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  padding: 16px 0 0 10px;
}

.digital-heading
{
  width: 100%;
  height: auto;
  margin:30px 0 20px 0;
  overflow: hidden;
}
.digital-heading ul
{
  padding: 0px;
  margin: 0px;
}
.digital-heading ul li
{
  list-style: none;;
  float: left;
  color:#000;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.digital-heading ul li:nth-child(1)
{
  width: 60%;
}
.digital-heading ul li:nth-child(2)
{
  width: 35%;
}
.digital-heading ul li:nth-child(1):after
{
  content: "";
  width: 78%;
  height: 1px;
  background: rgba(116,113,113,0.2);
  position: absolute;
  top: 12px;
  left: 68px;
}
.digital-heading ul li:nth-child(2):after
{
  content: "";
  width: 53%;
  height: 1px;
  background: rgba(116,113,113,0.2);
  position: absolute;
  top: 12px;
  left: 122px;
}
.profile-detl h4
{
  font-size: 15px;
  color:#747171;
  font-weight: 400;
  margin: 0 0 6px 0;
}
.profile-detl h5
{
  font-size: 18px;
  color:#000;
  font-weight: 500;
}
.profile-detl
{
  width: 100%;
  height: auto;
  margin: 0 0 20px 0;
}
.pr-heading
{
  font-size: 24px;
  color:#000;
  font-weight: 500;
  margin: 6px 0 25px 0;
}
.profile-dec
{
  padding: 0 0 0 20px;
}
.profile-dec h4
{
  font-size: 20px;
  color:#000;
  font-weight: 500;
  margin: 0 0 6px 0;
}
.profile-dec h5
{
  font-size: 16px;
  color:#747171;
  font-weight: 400;
  margin: 0 0 3px 0;
}
.profile-dec p
{
  font-size: 14px;
  color:#747171;
  font-weight: 400;
}
.p-relative
{
  position: relative;
}
.edt
{
  width: auto;
  position: absolute;
  right: 20px;
  top:15px;
}
.profile-pic
{
  width: 60px;
  height: auto;
}
.profile-pic img
{
  max-width: 100%;
}

.qs h4
{
  color:#000;
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 20px;
}
.qs p
{
  color:#000;
  font-size: 16px;
  font-weight: 400;
  margin:0;
}
.timer
{
  text-align: right;
  padding:7px 0 0 0;
}
.btns
{
  width: 100%;
  height: auto;
}
.btns ul
{
  padding: 0px;
  margin:0px;
  width: auto;
  float: left;
}
.btns ul li
{
  float: left;
  list-style: none;
  margin:0 7px 0 0;
}


.select-option
{
  width: 100%;
  height: auto;
  margin:25px 0 0 0;
}
.select-option ul
{
  padding: 0px 0 0 15px;
  margin:0px;
  width:100%;
}
.select-option ul li
{
  float: left;
  list-style: none;
  margin:0 0 4px 0;
  width: 100%;
  list-style: none;
}
.select-option ul li label
{
  font-size: 16px;
  color:#391216;
}
.switchh {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switchh input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderr {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.sliderr:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #AA3D9F;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .sliderr {
  background-color: #F4F4F4;
}

input:focus + .sliderr {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .sliderr:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.sliderr.round {
  border-radius: 34px;
}

.sliderr.round:before {
  border-radius: 50%;
}
.s-dec h4
{
  font-size: 16px;
  color:#000;
  margin: 0 0 4px;
}
.s-dec h5
{
  font-size: 12px;
  color:#747171;
  margin: 0 0 5px;
}
.s-dec p
{
  font-size: 12px;
  color:#747171;
}
.s-circle-pic
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.s-circle-pic img 
{
  max-width: 100%;
}
.hd-hdng
{
  font-size: 18px;
  color:#000000;
  padding: 13px 0px 8px 10px;
  font-weight: 500;
}
.show-result
{
  text-align: center;
}
.show-result h4 
{
  color: #673695;
  font-size: 24px;
  font-weight: 500;
}
.show-result p
{
  color: #000;
  font-size: 18px;
  font-weight: 400;
}
.show-result p span 
{
  color: #673695;
  font-size:22px;
  font-weight: 500;
}
.show-btn
{
  width: 100%;
  height: auto;
  padding: 10px 0 30px;
}
.show-btn a
{
  font-size: 16px;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  color: #fff;
  background-color: #673695;
  text-decoration: none;
}
.show-btn a:hover
{
  background: #000;
}
.answ
{
  width: 100%;
  height: auto;
  border: 1px solid #eee;
  padding: 15px 20px;
  border-radius: 3px;
  transition: all 0.5s ease 0s;
  margin: 0 0 30px;
  min-height: 220px;
}
.answ h5 
{
  color:#673695;
  font-weight: 500;
  margin: 0 0 10px 0;
  font-size: 15px;
}
.answ h4
{
  color:#000;
  font-weight: 500;
  margin: 0 0 20px 0;
  font-size: 20px;
}
.answ ul {
  padding: 0px;
  margin: 14px 0 0 0;
  overflow: hidden;
}
.answ ul li {
  list-style: none;
  margin: 0 4px 5px 0;
  font-size: 18px;
  color: #000;
  width: 48%;
  float: left;
  background: #eee;
  padding: 5px 10px;
  border-left: 3px solid #673695;
  border-bottom: 1px solid #673695;
}
.answ ul li span img 
{
  max-width: 18px;
  margin: 0 5px 0 0;
}
.answ:hover 
{
  transition: all 0.5s ease 0s;
  box-shadow: 0 0px 5px rgba(0,0,0,0.3);
}
.ex-pg .exam-left
{
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}
.ex-pg .exam-profile-paper {
  padding: 00 0 0px;
}
.ex-pg .exam-profile-exam
{
  padding: 0px 0 0 6px;
}


@media only screen and (min-width: 768px) and (max-width: 1024px){
.status {
  font-size: 12px;
  padding: 6px 9px;
  border-radius: 12px;
  margin: 6px 0 5px 0;
}
.leave-body-left ul li h6 {
  font-size: 11px;
}
.clnd-icon img {
  max-width: 17px;
}
.leave-overvw ul li {
  width: 100%;
}
.rb-full {
  display: block;
}
.dash-calender table th {
  padding: 15px 7px;
}
.timetable-calender {
  overflow-x: scroll;
   padding: 0 0 30px 0;
}
.timetable-calender table td:first-child, .timetable-calender table th:first-child {
  padding: 0 0 0 10px;
  min-width: 80px;
}
.res-table
{
  overflow-x: scroll;
  padding: 0 0 30px 0;
}
.report-heading ul li:after,.online-top-heading ul li:after,.exam-heading ul li:after,.digital-heading ul li
{
  display: none;
}
.report-heading ul li,.exam-heading ul li,.online-top-heading ul li,.digital-heading ul li {
  font-size: 15px;
}
.exam-profile-dec {
  width: 100%;
  padding: 10px 0 0 0;
}
.exam-profile-exam {
  padding: 19px 0 0 11px;
}
.sl-tag ul li {
  width: 44%;
  font-size: 12px;
}
.fees-r {
  width: 100%;
  text-align: left;
  margin: 10px 0 0 0;
}
.fees-l {
  width: 100%;
}
.fees-r-btn-1 {
  margin: 20px 0 00px 0;
}
.digital-dec {
  width: 100%;
  padding: 16px 0 0 0;
  margin: 0 0 0 0;
}
.subj-dec {
  width: 69%;
}
.subj-btn {
  width: 100%;
  padding: 7px 0 0 0;
  text-align: left;
  margin: 10px 0 0 0;
}
.ved-btns ul li a {
  padding: 5px 11px;
  font-size: 14px;
}
.online-test ul li {
  padding: 20px 15px;
}
.report-sub {
  font-size: 14px;
}
.report-fullmarks {
  font-size: 14px;
}
.report-marks {
  font-size: 14px;
}
.ved-right-pic {
  width: 63px;
}
.ved-right-dec {
  width: 60%;
}
.ved iframe {
  height: 250px;
}
.timer img
{
  max-width: 110%;
}
.assign-right ul li {
  width: 50%;
  margin: 0 0 20px;
}
.assign-right
{
  background: none;
}
.upload-pic {
  margin: 20px 0 0 0;
}
.leave-body-left ul li p {
  font-size: 14px;
}
.leave-body-left ul li
{
  padding: 20px 10px;
}
.subj-btn img
{
  max-width: 17px;
}
.nt h5 {
  font-size: 15px;
  font-weight: 400;
  margin: 0 0 0 0;
}
.attn-details {
  margin: 20px 0 20px 0;
  gap: 20px;
}
.ad-1 span,.ad-2 span,.ad-3 span
{
  float: left;
}
.on-pic img
{
  max-width: 90%;
}
.on-dec {
  width: 40%;
  padding: 0 0 0 0;
}
.on-dec p {
  font-size: 13px;
}
.on-exam {
  padding: 10px 0 0 0;
}
.on-paper {
  padding: 10px 0 0 0;
}

}


@media only screen and (max-width: 767px)
{
  .status {
  font-size: 12px;
  padding: 6px 9px;
  border-radius: 12px;
}
  #sidebarToggleTop
  {
    display: none;
  }
  .top-dec h4 {
   font-size: 15px;
  }
  .top-dec p
  {
    font-size: 10px;
  }
  .dash-calender table th {
    padding: 10px 7px;
  }
  .pro-fl {
    margin: 10px 0 20px 0;
    display: block;
  }
  .pro-name {
   padding: 7px 0 0 0;
  }
  .sidebar .nav-item .nav-link {
  padding: 10px 12px;
  width: 100%;
}
.sidebar .nav-item .nav-link span {
  font-size: 14px;
}
.topbar .nav-item .nav-link {
  padding: 0 0;
}
.timetable-calender {
  overflow-x: scroll;
  padding: 0 0 30px 0;
}
.timetable-calender table th, .timetable-calender table td {
  min-width: 100px;
}
.caln {
  margin: 10px 0 0 0;
}
.icn {
  width: 32px !important;
  height: 32px !important;
  margin: 21px 0px 0 0;
}
.icn img 
{
  max-width: 18px;
}
#sidebarToggle img
{
  max-width: 20px;
  margin: -3px 0 0 0;
}
.top-crl {
  height: 31px;
  width: 31px;
}
.date-cont {
  margin: 15px 0;
}
.attn-details {
  margin: 20px 0 40px;
  gap: 5px;
}
.ad-1 span, .ad-2 span, .ad-3 span{
  float: left;
}
.res-table
{
  width: 100%;
  height: auto;
  padding: 0 0 30px 0;
  overflow-x: scroll;
}
.leave-body-left ul li h6 {
  font-size: 12px;
}
.leave-body-left ul li {
  padding: 20px 12px;
}

.leave-body-left ul li p {
  font-size: 14px;
}
.ved-btns ul li a {
  padding: 8px 5px;
  font-size: 12px;
}
.ved iframe {
  height: 300px;
}
.ved-right-dec {
  width: 61%;
}
.as-dec h5 {
  font-size: 11px;
}
.online-test ul li {
  padding: 15px 10px;
}
.exam-profile-dec {
  width: 100%;
  padding: 7px 0 0 0;
  font-size: 12px;
  margin: 0 0 0 0;
}
.exam-profile-paper {
  width: 43%;
  font-size: 12px;
  padding:18px 0 0 0;
}
.exam-profile-exam {
  padding: 19px 0 0 0;
  font-size: 13px;
}
.holiday-name {
    font-size: 13px;
}
.holiday-date {
  font-size: 13px;
}
.fees-r-btn-1 a {
  padding: 8px 12px;
  font-size: 13px;
}
.fees-lft {
  padding: 20px 15px;
  border-radius: 10px;
}
.sl-tag ul li {
  width: 45%;
  font-size: 16px;
}
.digital-dec {
  width: 100%;
  padding: 4px 0 0 0;
  font-size: 16px;
}
.subj-dec {
  width: 46%;
  padding: 0 0 0 10px;
}
.subj-btn a {
  font-size: 12px;
  padding: 8px 4px;
}
.subj-btn img 
{
  max-width: 16px;
}
.subj-dec h5 {
  font-size: 14px;
}
.trk-btn {
  position: relative;
}
.report-heading ul li:after,.online-top-heading ul li:after,.exam-heading ul li:after,.digital-heading ul li
{
  display: none;
}
.rg-1 {
  border-left: 0px solid rgba(116,113,113,0.2);
}
.report-heading ul li,.exam-heading ul li,.online-top-heading ul li,.digital-heading ul li {
  font-size: 14px;
}
.on-pic {
  display: none;
}
.on-exam {
  float: right;
}
.on-exam a {
  padding: 10px 6px;
  font-size: 12px;
}
.on-paper {
  text-align: right;
}
.qs {
  padding: 15px;
}
.select-option ul {
  padding: 0px 0 0 5px;
}
.select-option ul li {
  margin: 0 0 0px 0;
}
.leave-body-left {
  padding: 0 0px 0;
}
.sidebar .nav-item .collapse .collapse-inner, .sidebar .nav-item .collapsing .collapse-inner {
  background: #fff;
}
.report-sub {
  font-size: 14px;
}
.report-fullmarks {
  font-size: 14px;
}
.report-marks {
  font-size: 14px;
}
}